body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49,172,186);
    background: linear-gradient(210deg, rgba(49,172,186,1) 0%, rgba(255,214,178,1) 100%);
}

.container {
    @mixin design {
        background: #fefefe77;
        border-radius: 8px;
    }

    width: 80%;

    .screen {
        @include design();

        height: 80px;
        text-align: end;
        padding: 10px;
        margin-bottom: 2px;

        .solution {
            font-size: 18px;
        }

        .result {
            font-size: 32px;
        }
    }

    .clear { grid-area: key_clear; width: auto!important;}
    .backsp { grid-area: key_backsp;}
    .op .row1 { grid-area: key_divide;} 
    .op .row2 { grid-area: key_multiply;}


    .buttons {
        display: grid;
        grid-template-areas: 
            'key_clear key_clear key_backsp key_divide'
            'auto auto auto key_multiply'
        ;
        gap: 2px;
        
        button {
            @include design();

            // width: 80px;
            height: 80px;
            font-size: 16px;
            font-weight: 900;
            border: none;
            background: #fefefe77;
            transition: .1s;
            &:hover {
                color: #fff;
                background: #3a3b3f77;
            }
        }

        .clear, .op, .backsp {
            background: #efefef77;
        }

        .equal {
            background: rgb(49,172,186,.77);
            background: linear-gradient(210deg, rgba(49,172,186,.77) 0%, rgba(255,214,178,.77) 100%) 50% / 200%;
            transition: .3s;

            &:hover {
                background: rgb(49,172,186,.77);
                background: linear-gradient(210deg, rgba(49,172,186,.77) 55%, rgba(255,214,178,.77) 100%) 100% / 200%;
            }
        }
    }
}